{% extends 'base.html.twig' %}

{% block title %}Hello SearchCityController!{% endblock %}

{% block body %}
    <div class="container">
        {% if erreurs or erreursml %}
            <div>
                {{erreurs}}
                {{erreursml}}
            </div>
        {% else %}
        <div class="c1">
            {% if communes %}
                {% for commune in communes %}
                    <div class="c11">
                        <h1 class="mainhead">{{ commune.nom }} - {{ commune.code }}</h1>
                        <p class="mainp">Population: {{ commune.population }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="c11">
                    <h1 class="mainhead">Aucune commune trouvé ;'(</h1>
                </div>
            {% endif %}
            {% if missionslocales %}
                <div class="listmission">
                    {% for missionlocale in missionslocales['features'] %}
                        <div class="item-mission">
                            <h3>ML - {{ missionlocale['properties']['adresses'][0]['commune'] }}</h3>
                            {% set addresse =  missionlocale['properties']['adresses'][0]['lignes'][0] ?? null %}
                            {% set cp =  missionlocale['properties']['adresses'][0]['codePostal'] ?? null %}
                            <a href="https://www.google.fr/maps/place/{{addresse|url_encode}}+{{cp|url_encode}}">{{ addresse }} - {{ cp }}</a>
                            <p>{{ missionlocale['properties']['telephone'] ?? null }}</p>
                            <a href="{{ missionlocale['properties']['url'] ?? null }}">{{ missionlocale['properties']['url'] }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <h1>Aucune mission locale a été trouvé ;'(</h1>
                </div>
            {% endif %}
        </div>
        <div class="c2">
            <h1 class="title-form">Trouve ta MISSION LOCALE</h1>
            <form method="post" action="/">
                <input class="username" type="text" id="city" name="city" placeholder="Ville" minlength="3" required>
                <input class="username" type="text" id="cp" name="cp" placeholder="Code Postal" maxlength="5" minlength="5" required>
                <input class="btn" id="chercher" name="chercher" type="submit" value="Chercher">
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
